{% assign has_multiple_variants = false %}
{% if product.variants.size > 1 %}
  {% assign has_multiple_variants = true %}
{% endif %}

{% assign has_multiple_options = false %}
{% if product.options.size > 1 %}
  {% assign has_multiple_options = true %}
{% endif %}

{% if has_multiple_variants %}
  {% include 'get-variants-with-quantity-json' with product: product %}
{% endif %}

{% assign default_variant = product.selected_or_first_available_variant %}

{% assign can_add_to_cart = false %}
{% if product.selected_variant.available %}
  {% assign can_add_to_cart = true %}
{% endif %}

<form id="add-to-cart-form" action="/cart/add" method="post" enctype="multipart/form-data" data-variants="{{ variants_with_quantity_json | url_param_escape }}">
  {% if has_multiple_options or has_multiple_variants %}
    {% for option in product.options_with_values %}
      {% assign option_name = 'option' | append: option.position %}
      {% assign single_value = false %}
      {% if option.values.size < 2 %}
        {% assign single_value = true %}
      {% endif %}
      
      {% assign selected = product.selected_or_first_available_variant[option_name] %}

      <select class="select" name="{{ option_name }}" id="select-{{ option.name | downcase }}" >
        {% for value in option.values %}
          <option value="{{ value }}" {% if value == selected %} selected {% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    {% endfor %}
  {% endif %}

  <input class="js-variant-id" type="hidden" name="id" value="{{ default_variant.id }}">

  {% include 'quantity-picker' with name: "quantity", value: 1, min: 1, max: current_variant.inventory_quantity %}

  <button type="submit" name="add" id="add-to-cart-button">
    <span class="js-price" data-default-price="{{ product.price | money }}">
      {{ current_variant.price | money }}
    </span>
    – Add to Cart
  </button>
</form>