{% comment %}

  ––– REQUIRED JS CLASSES –––
  .js-quantity--picker – to specify the quantity picker
  .js-quantity--field – to get / update the current value of the picker
  .js-quantity--button – to update the value of the qp
  .js-quantity--button.minus – to disable the minus button if we've reached the min value
  .js-quantity--button.plus – to disable the plus button if we've reached the max value
  .js-quantity--text – to change the UI to reflect the value

{% endcomment %}


{% if value == blank %}
  {% assign value = 1 %}
{% endif %}

<div class="quantity-picker js-quantity--picker {{ class }}">
  <label for="{{ id }}" class="option-title visually-hidden">Quantity</label>
  <div class="option-fieldset">
    <div class="visually-hidden">
      <input type="number" class="js-quantity--field {% if field_class %} {{ field_class }} {% endif %}" 
        id="{{ id }}"
        name="{{ name }}"
        value="{{ value }}"
        {% if min != blank %}
          min="{{ min }}"
        {% endif %}
        {% if max != blank %} 
          max="{{ max }}"
        {% endif %}
      >
    </div>
    <button class="js-quantity--button minus" type="button" {% if value == min %} disabled {% endif %}>
      &ndash;
    </button>
    <span class="js-quantity--text">
      {{ value }}
    </span>
    <button class="js-quantity--button plus" type="button" {% if value == max %} disabled {% endif %}>
      +
    </button>
  </div>
</div>